@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">RAINBOW SCHOOL</h1>
        <p class="lead">Rainbow School Database with Info related to Students,Classes and Subjects</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Students</h2>
            <p>
                Students Information can be located in the page 'Student'..Please have a look at our Students Data!!
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Subjects</h2>
            <p>Subjects Related Info or better, the Subjects our Students have under their Curriculum can be located in the page 'Subject'.. Please have a look at our Subjects Data!!</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Classes</h2>
            <p>Our Students are enrolled in Classes whose information can be located in the page 'Class'.. Please have a look at our Class Data!!</p>
        </section>
    </div>
</main>